Extracting metadata from .eml files/Microsoft.Flow/flows/720df2a6-41c6-4cfc-bb95-29a61dd52f26/definition.json
{"name":"c98104e3-8ea9-40f7-b89e-3d656c71774f","id":"/providers/Microsoft.Flow/flows/c98104e3-8ea9-40f7-b89e-3d656c71774f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"LIVE - Populates From (just Name) for .eml files","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f45a289f-339b-41ae-8c32-be87dc5d63e0","type":"User","tenantId":"a2b44a09-243a-4fb2-9efd-e16bc27752c1"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-09-08T13:51:45.0294653Z","connectionKeySavedTimeKey":"2025-12-09T13:38:00.8559559Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_file_is_created_(properties_only)":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://philton.sharepoint.com","table":"da6c83fe-5631-443f-95d3-b7c971db68d1"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewFileItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"vSenderName":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"vSenderName","type":"string"}]}},"Is_it_an_.eml_file":{"actions":{"Get_file_content":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://philton.sharepoint.com","id":"@triggerBody()?['{Identifier}']","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"EMLText":{"runAfter":{"Get_file_content":["Succeeded"]},"type":"Compose","inputs":"@base64ToString(outputs('Get_file_content')?['body']['$content'])\r\n"},"FromLine":{"runAfter":{"EMLText":["Succeeded"]},"type":"Compose","inputs":"@first(split(first(skip(split(outputs('EMLText'),'From: '),1)), decodeUriComponent('%0A')))\r\n"},"FromTrim":{"runAfter":{"FromLine":["Succeeded"]},"type":"Compose","inputs":"@trim(replace(outputs('FromLine'), '\"',''))\r\n"},"FromClean":{"runAfter":{"FromTrim":["Succeeded"]},"type":"Compose","inputs":"@trim(replace(replace(outputs('FromTrim'), '\\t', ''), '  ', ' '))\r\n"},"Does_FromClean_contain_angle_brackets":{"actions":{"Name_Angle":{"type":"Compose","inputs":"@trim(first(split(outputs('FromClean'), '<')))\r\n"},"Set_variable_-_vSenderName":{"runAfter":{"Name_Angle":["Succeeded"]},"type":"SetVariable","inputs":{"name":"vSenderName","value":"@outputs('Name_Angle')"}}},"runAfter":{"FromClean":["Succeeded"]},"else":{"actions":{"Set_variable_-_vSenderName_2":{"type":"SetVariable","inputs":{"name":"vSenderName","value":"@outputs('FromClean')"}}}},"expression":{"and":[{"contains":["@outputs('FromClean')","<"]}]},"type":"If"},"Update_file_properties":{"runAfter":{"Does_FromClean_contain_angle_brackets":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://philton.sharepoint.com","table":"da6c83fe-5631-443f-95d3-b7c971db68d1","id":"@triggerBody()?['ID']","item/Sender":"@variables('vSenderName')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"vSenderName":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"endsWith":["@triggerBody()?['{FilenameWithExtension}']",".eml"]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-ac2ef8e4-94e9-4503-b18d-63b1a472c310","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}