Automatic reminders/Microsoft.Flow/flows/aa6fff05-dc19-48e5-b1cd-28ac615aaebf/definition.json
{"name":"a483e888-d547-429c-a927-d18009cff149","id":"/providers/Microsoft.Flow/flows/a483e888-d547-429c-a927-d18009cff149","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"LIVE - Automatic Remainders","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f45a289f-339b-41ae-8c32-be87dc5d63e0","type":"User","tenantId":"a2b44a09-243a-4fb2-9efd-e16bc27752c1"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-04-02T15:48:08.8849715Z","connectionKeySavedTimeKey":"2025-12-06T06:30:00.7822734Z","creationSource":null,"modifiedSources":"Portal","clientCreatedTime":"2025-05-17T03:53:39.4491626Z","migrationSourceId":"/subscriptions/0b987371-3883-4a35-9517-63e571db03c4/resourceGroups/a2b44a09243a4fb29efde16bc27752c1-defaulta2b44a09243a4fb29efde16bc27752c1-env/providers/Microsoft.Logic/workflows/a483e888-d547-429c-a927-d18009cff149-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":"1","startTime":"2025-04-01T08:00:00Z"},"evaluatedRecurrence":{"frequency":"Day","interval":"1","startTime":"2025-04-01T08:00:00Z"},"type":"Recurrence"}},"actions":{"Get_items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://philton.sharepoint.com","table":"0b32eda2-4aaf-44be-8928-8f71c026a4e7","$filter":"field_4 ne null\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Compose":{"type":"Compose","inputs":"@{item()?['field_4']}@{item()?['Representative']}@{item()?['Cc/Email']}@{item()?['DaysbeforeFirstreminder']}@{item()?['DaysbeforeSecondreminder']}"},"Calculate_Reminder_Date":{"runAfter":{"Compose":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(subtractFromTime(item()?['field_4'], int(item()?['DaysbeforeFirstreminder']), 'Day'), 'yyyy-MM-dd')","description":"Calculate the first reminder date, defaulting to 0 if DaysbeforeFirstreminder is null."},"Condition":{"actions":{"Send_an_email_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@item()?['Representative/Email']","emailMessage/Subject":"Reminder: @{item()?['Title']} is due on @{formatDateTime(item()?['field_4'], 'dd/MM/yyyy')}","emailMessage/Body":"<p class=\"editor-paragraph\">Hi @{item()?['Representative/DisplayName']},</p><br><p class=\"editor-paragraph\">The @{item()?['Title']}<b><strong class=\"editor-text-bold\"> </strong></b>is due on<b><strong class=\"editor-text-bold\"> </strong></b>@{formatDateTime(item()?['field_4'], 'dd/MM/yyyy')\r\n}.<br><br></p><br><p class=\"editor-paragraph\"><span style=\"font-size: 14px;\">Kind regards,</span></p><p class=\"editor-paragraph\"><i><em class=\"editor-text-italic\" style=\"font-size: 14px;\">Automatic Reminders System</em></i></p><br><p class=\"editor-paragraph\">____________________________________________________</p><p class=\"editor-paragraph\"><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">To </em></i><i><b><strong class=\"editor-text-bold editor-text-italic\" style=\"font-size: 12px;\">view or edit </strong></b></i><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">the Statutory Compliance</em></i><span style=\"font-size: 12px;\"> </span><i><b><strong class=\"editor-text-bold editor-text-italic\" style=\"font-size: 12px;\">database</strong></b></i><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">, click </em></i><a href=\"https://philton.sharepoint.com/:l:/g/FKLtMguvSr5EiSiPccAmpOcBb3Lvluh6FTpB-a2aYyZ_Tw?e=Z7wllq\" class=\"editor-link\"><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">here</em></i></a><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">.</em></i></p><p class=\"editor-paragraph\"><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">To </em></i><i><b><strong class=\"editor-text-bold editor-text-italic\" style=\"font-size: 12px;\">opt out</strong></b></i><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\"> of this reminder </em></i><i><b><strong class=\"editor-text-bold editor-text-italic\" style=\"font-size: 12px;\">and assign someone else</strong></b></i><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">, edit the Representative name in the </em></i><a href=\"https://philton.sharepoint.com/:l:/g/FKLtMguvSr5EiSiPccAmpOcBb3Lvluh6FTpB-a2aYyZ_Tw?e=Z7wllq\" class=\"editor-link\"><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">database</em></i></a><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">.</em></i></p><p class=\"editor-paragraph\"><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">To </em></i><i><b><strong class=\"editor-text-bold editor-text-italic\" style=\"font-size: 12px;\">change notification frequency</strong></b></i><i><em class=\"editor-text-italic\" style=\"font-size: 12px;\">, edit the number in 'Days before First notification' or 'Days before Second notification'.</em></i></p>","emailMessage/From":"reminders@ppcphilton.com","emailMessage/Cc":"@if(empty(items('Apply_to_each')?['Cc']?['Email']), '', items('Apply_to_each')?['Cc']?['Email'])\r\n","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Calculate_Reminder_Date_2":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"equals":["@outputs('Calculate_Reminder_Date')","@utcNow('yyyy-MM-dd')"]},{"equals":["@outputs('Calculate_Reminder_Date_2')","@utcNow('yyyy-MM-dd')"]}]},"type":"If"},"Calculate_Reminder_Date_2":{"runAfter":{"Calculate_Reminder_Date":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(subtractFromTime(item()?['field_4'], int(item()?['DaysbeforeSecondreminder']), 'Day'), 'yyyy-MM-dd')\r\n","description":"Calculate the second reminder date, defaulting to 0 if DaysbeforeSecondreminder is null."}},"runAfter":{"Get_items":["Succeeded"]},"type":"Foreach"}},"description":""},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-ac2ef8e4-94e9-4503-b18d-63b1a472c310","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-6f88cae2-850e-4b7f-9e3d-d33a07ff81b3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}